body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    font-family: 'Outfit', sans-serif;
}

.box {
    background-color: hsl(0, 0%, 100%);
    width: 45vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
    max-height: 60;
}
.box img {
    width: 90%;
    margin-top: 5%;
    border-radius: 20px;
}
.box h1, p {
    text-align: center;
    padding: 0 4vh;
}
.box h1 {
    font-size: 25px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin: 4vh 0 1vh 0;
}
.box p {
    font-size: 17px;
    font-weight: 200;
    color: hsl(220, 15%, 55%);
    padding-bottom: 30px;
}